/WhiteBoard/nbproject/private/
/WhiteBoard/build/
/WhiteBoard/target/
/WhiteBoard/dist/
/Whiteboard_Webservice/nbproject/private/
/Whiteboard_Webservice/build/
/Whiteboard_Webservice/dist/
/Whiteboard_Webservice/target/
/Whiteboard_REST/nbproject/private/
/Whiteboard_REST/dist/
/Whiteboard_REST/build/
/REST/Whiteboard_REST/nbproject/private/
/REST/Whiteboard_REST/build/
/REST/Whiteboard_REST/dist/