/WhiteBoard/nbproject/private/
/WhiteBoard/build/
/WhiteBoard/target/
/WhiteBoard/dist/
/Whiteboard_Webservice/nbproject/private/
/Whiteboard_Webservice/build/
/Whiteboard_Webservice/dist/
/Whiteboard_Webservice/target/
